@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0; 
  padding: 0;
  font-family: 'GmarketSansMedium';}
ul,li{
  list-style: none;    
  }
  .router-link :nth-child(1){
    padding: 5px;
    color: #222;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
  }
  .router-link :nth-child(2){
    padding: 5px;
    color: #222;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
  }
